/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;    
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    width: 100vw;
}

a {
    text-decoration: unset;
    color: unset;
}

.button {
    background-color: #e62029;
    color: white;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 25px;
    font-weight: 700;
    border-radius: 5px;
}

.mobile-only {
    display: none;
}

/* HERO SECTION */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    padding: 30px;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-position: 50%;
    z-index: -1;
    color: white;
    position: relative;
    z-index: 0;
}

#hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#hero nav ul, #hero nav div, #hero nav {
    display: flex;
    align-items: center;
}

#hero nav {
    width: 100%;
    justify-content: space-between;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    font-size: 1.1em;
    padding: 10px 70px;
}

.logo {
    margin-right: 40px;
}

.logo img {
    width: 100px;
}

.right-nav li {
    margin-right: 30px;
}

.right-nav li:hover {
    color: rgb(230, 32, 41)
}

.right-nav > a:last-child {
    margin-left: 30px;
}

.hero-center {
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#hero .scroll-down {
    height: 30px;
    position: relative;
}

#hero .scroll-down i {
    position: absolute;
    animation-name: scrollDown;
    animation-direction: alternate;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
}

@keyframes scrollDown {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

/* Media */

@media screen and (max-width: 768px) {
    .mobile-only {
        display: unset;
    }

    #hero {
        padding: 15px;
    }

    #hero nav {
        padding: 0px;
    }

    #hero nav .right-nav {
        display: none;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        background-color: black;
        z-index: 100;
        opacity: 0;
        transform: translateX(100vw);
        transition: all 0.4s;
    }

    #hero nav .right-nav .close-nav {
        position: absolute;
        top: 30px;
        font-size: 1.7em;
    }

    #hero nav .right-nav ul {
        display: flex;
        flex-direction: column;
    }

    #hero nav .right-nav li, #hero nav .right-nav a {
        margin-bottom: 24px;
    }

    .logo img {
        width: 74px;
    }

    .hero-center {
        font-size: 1.3em;
        width: unset;
    }

    .right-nav li, .right-nav > a:last-child {
        margin-right: 0;
        margin-left: 0;
    }

    #hero nav .right-nav.slide-in {
        display: flex;
        opacity: 1;
        transform: translateX(0vw);
    }

}

/* END HERO SECTION */

/* FEATURES SECTION */

#features {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    text-align: center;
    margin-top: 60px;
}

#features > h2, #sub-footer > h2 {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 1.8em;
    text-transform: capitalize;
}

#features > h2 span {
    color: rgba(230, 32, 41, 1);
}

.feature-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    line-height: 1.7;
    align-items: center;
}

.feature-wrapper .learn-more {
    min-width: 400px;
    text-align: left;
}

.feature-wrapper .learn-more h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.feature-wrapper .learn-more p {
    margin-bottom: 30px;
}

.feature-wrapper .learn-more a:hover {
    background-color: transparent;
    border: 1px solid rgba(230, 32, 41, 0.8);
    color: rgba(230, 32, 41, 1);
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features .feature {
    min-width: 26%;
    max-width: 26%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.features .feature:hover {
    border: 1px solid rgba(230, 32, 41, 0.8);
}

.features .feature i {
    margin-bottom: 20px;
    color: rgba(230, 32, 41, 0.8);
}

.feature svg {
    fill: rgba(230, 32, 41, 0.8);
    width: 100px;
}

.feature #workstation {
    width: 70px;
}

.features .feature p {
    font-size: 0.9em;
}

/* Media */

@media screen and (max-width: 768px) {
    #features {
        padding: 10px;
    }

    #features > h2 {
        font-size: 1.3em;
        margin-bottom: 60px;
    }

    .feature-wrapper {
        padding: 0 20px;
        flex-direction: column;
    }

    .feature-wrapper .learn-more {
        min-width: 100%;
        margin-bottom: 50px;
    }

    .feature-wrapper .learn-more h2 {
        font-size: 1.2em;
    }

    .feature-wrapper .learn-more p {
        font-size: 1em;
    }

    .features .feature {
        min-width: 100%;
        max-width: 100%;
    }
    
}

/* END FEATURES SECTION */

/* SUB-FOOTER SECTION */

#sub-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 135px;
    background-color: #fd2b2b;
    color: white;
}

#sub-footer > h3 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#sub-footer .lead {
    margin-bottom: 40px;
    opacity: 0.8;
}

#sub-footer form {
    display: flex;
    justify-content: space-between;
}

#sub-footer form input {
    flex: 1 0 auto;
    margin-right: 15px;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    color: rgb(230, 32, 41);
}

#sub-footer form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

button.button {
    color: white;
    border: none;
    background-color: black;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

button.button:hover {
    color: color;
    border: 1px solid white;
    background-color: transparent;
}

/* Media */

@media screen and (max-width: 768px) {
    #sub-footer {
        padding: 60px 30px 40px;
    }

    #sub-footer form {
        flex-direction: column;
    }

    #sub-footer form input {
        margin-bottom: 15px;
        width: 100%;
    }

}

/* END SUB-FOOTER SECTION */

/* FOOTER SECTION */

footer .logo {
    margin-bottom: 50px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 180px;
    background: black;
    color: white;
}

footer .left {
    display: flex;
    flex-direction: column;
}

footer .left .socials {
    margin-bottom: 40px;
    font-size: 1.3em;
}

footer .left .socials i {
    margin-right: 14px;
    cursor: pointer;
    color: white;
}

footer .left .socials i:hover {
    color: rgb(230, 32, 41);
}

footer .left .copyright {
    font-size: 0.8em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
}

footer .left .copyright a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8)
}

footer .right h3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}

footer .right > p {
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
}

footer .right .contacts {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9em;
    line-height: 1.4;
}


/* Media */

@media screen and (max-width: 768px) {
    footer {
        padding: 60px 30px 30px;
        flex-direction: column;
    }

    footer .left {
        margin-bottom: 60px;
    }
}

/* END FOOTER SECTION */