/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    width: 100vw;
}

a {
    text-decoration: unset;
    color: unset;
}

.button {
    background-color: #e62029;
    color: white;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 25px;
    font-weight: 700;
    border-radius: 5px;
}

/* HERO SECTION */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    padding: 30px;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-position: 50%;
    z-index: -1;
    color: white;
    position: relative;
    z-index: 0;
}

#hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#hero nav ul, #hero nav div, #hero nav {
    display: flex;
    align-items: center;
}

#hero nav {
    width: 100%;
    justify-content: space-between;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    font-size: 1.1em;
    padding: 10px 70px;
}

.logo {
    margin-right: 40px;
}

.logo img {
    width: 100px;
}

.right-nav li {
    margin-right: 30px;
}

.right-nav a:last-child {
    margin-left: 30px;
}

.hero-center {
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#hero .scroll-down {
    height: 30px;
    position: relative;
}

#hero .scroll-down i {
    position: absolute;
    animation-name: scrollDown;
    animation-direction: alternate;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
}

@keyframes scrollDown {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

/* END HERO SECTION */

/* FEATURES SECTION */

#features {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    text-align: center;
    margin-top: 60px;
}

#features > h2 {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 1.8em;
    text-transform: capitalize;
}

#features > h2 span {
    color: rgba(230, 32, 41, 1);
}

.feature-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    line-height: 1.7;
    align-items: center;
}

.feature-wrapper .learn-more {
    min-width: 400px;
    text-align: left;
}

.feature-wrapper .learn-more h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.feature-wrapper .learn-more p {
    margin-bottom: 30px;
}

.feature-wrapper .learn-more a:hover {
    background-color: transparent;
    border: 1px solid rgba(230, 32, 41, 0.8);
    color: rgba(230, 32, 41, 1);
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features .feature {
    min-width: 23%;
    max-width: 23%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.features .feature:hover {
    border: 1px solid rgba(230, 32, 41, 0.8);
}

.features .feature i {
    margin-bottom: 20px;
    color: rgba(230, 32, 41, 0.8);
}

.features .feature p {
    font-size: 0.9em;
}

/* END FEATURES SECTION */