/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;    
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    width: 100vw;
}

a {
    text-decoration: unset;
    color: unset;
}

.button {
    background-color: #e62029;
    color: white;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 25px;
    font-weight: 700;
    border-radius: 5px;
}

.button.button-sm {
    font-size: 12px;
    line-height: 12px;
    padding: 8px 15px;
}

.callout-btn {
  background-color: transparent;
  color: white;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 25px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
} 

.callout-btn:hover {
  border: 2px solid #e62029;
  color: #e62029;
}

.mobile-only {
    display: none;
}

/* HERO SECTION */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    padding: 30px;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-position: 50%;
    color: white;
    position: relative;
    z-index: 1;
}

#hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#hero nav ul, #hero nav div, #hero nav {
    display: flex;
    align-items: center;
}

#hero nav {
    width: 100%;
    justify-content: space-between;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    font-size: 1.1em;
    padding: 10px 70px;
}

.logo {
    margin-right: 40px;
}

.logo img {
    width: 100px;
}

.right-nav li {
    margin-right: 30px;
}

.right-nav li:hover, .right-nav li.active, .right-nav a.active {
    color: rgb(230, 32, 41)
}

.right-nav > a:last-child {
    margin-left: 30px;
}

.hero-center {
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#hero .scroll-down {
    height: 30px;
    position: relative;
}

#hero .scroll-down i {
    position: absolute;
    animation-name: scrollDown;
    animation-direction: alternate;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
}

@keyframes scrollDown {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

/* Media */

@media screen and (max-width: 768px) {
    .mobile-only {
        display: unset;
    }

    #hero {
        padding: 15px;
    }

    #hero nav {
        padding: 0px;
    }

    #hero nav .right-nav {
        display: flex;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        background-color: black;
        z-index: 1000;
        opacity: 0;
        transform: translateX(100vw);
        transition: all 0.4s;
        visibility: hidden;
    }

    #hero nav .right-nav .close-nav {
        position: absolute;
        top: 30px;
        font-size: 1.7em;
    }

    #hero nav .right-nav ul {
        display: flex;
        flex-direction: column;
    }

    #hero nav .right-nav li, #hero nav .right-nav a {
        margin-bottom: 24px;
    }

    .logo img {
        width: 74px;
    }

    .hero-center {
        font-size: 1.3em;
        width: unset;
    }

    .right-nav li, .right-nav > a:last-child {
        margin-right: 0;
        margin-left: 0;
    }

    #hero nav .right-nav.slide-in {
        visibility: visible;
        opacity: 1;
        transform: translateX(0vw);
    }

}

/* END HERO SECTION */

/* FEATURES SECTION */

#features {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

#features > h2, #sub-footer > h2 {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 1.8em;
    text-transform: capitalize;
}

#features > h2 span {
    color: rgba(230, 32, 41, 1);
}

.feature-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    line-height: 1.7;
    align-items: center;
}

.feature-wrapper .learn-more {
    min-width: 400px;
    text-align: left;
}

.feature-wrapper .learn-more h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.feature-wrapper .learn-more p {
    margin-bottom: 30px;
}

.feature-wrapper .learn-more a:hover {
    background-color: transparent;
    border: 1px solid rgba(230, 32, 41, 0.8);
    color: rgba(230, 32, 41, 1);
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features .feature {
    min-width: 26%;
    max-width: 26%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.features .feature:hover {
    border: 1px solid rgba(230, 32, 41, 0.8);
}

.features .feature i {
    margin-bottom: 20px;
    color: rgba(230, 32, 41, 0.8);
}

.feature svg {
    fill: rgba(230, 32, 41, 0.8);
    width: 100px;
}

.feature #workstation {
    width: 70px;
}

.features .feature p {
    font-size: 0.9em;
}

/* Media */

@media screen and (max-width: 768px) {
    #features {
        padding: 10px;
    }

    #features > h2 {
        font-size: 1.3em;
        margin-bottom: 60px;
    }

    .feature-wrapper {
        padding: 0 20px;
        flex-direction: column;
    }

    .feature-wrapper .learn-more {
        min-width: 100%;
        margin-bottom: 50px;
    }

    .feature-wrapper .learn-more h2 {
        font-size: 1.2em;
    }

    .feature-wrapper .learn-more p {
        font-size: 1em;
    }

    .features .feature {
        min-width: 100%;
        max-width: 100%;
    }
    
}

/* END FEATURES SECTION */

/* SUB-FOOTER SECTION */

#sub-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 135px;
    background-color: #fd2b2b;
    color: white;
}

#sub-footer > h3 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#sub-footer .lead {
    margin-bottom: 40px;
    opacity: 0.8;
}

#sub-footer form {
    display: flex;
    justify-content: space-between;
}

#sub-footer form input {
    flex: 1 0 auto;
    margin-right: 15px;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    color: rgb(230, 32, 41);
}

#sub-footer form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

button.button {
    color: white;
    border: none;
    background-color: black;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

button.button:hover {
    color: color;
    border: 1px solid white;
    background-color: transparent;
}

/* Media */

@media screen and (max-width: 768px) {
    #sub-footer {
        padding: 60px 30px 40px;
    }

    #sub-footer form {
        flex-direction: column;
    }

    #sub-footer form input {
        margin-bottom: 15px;
        width: 100%;
    }

}

/* END SUB-FOOTER SECTION */

/* FOOTER SECTION */

footer .logo {
    margin-bottom: 50px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 180px;
    background: black;
    color: white;
}

footer .left {
    display: flex;
    flex-direction: column;
}

footer .left .socials {
    margin-bottom: 40px;
    font-size: 1.3em;
}

footer .left .socials i {
    margin-right: 14px;
    cursor: pointer;
    color: white;
}

footer .left .socials i:hover {
    color: rgb(230, 32, 41);
}

footer .left .copyright {
    font-size: 0.8em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
}

footer .left .copyright a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8)
}

footer .right h3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}

footer .right > p {
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
}

footer .right .contacts {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9em;
    line-height: 1.4;
}


/* Media */

@media screen and (max-width: 768px) {
    footer {
        padding: 60px 30px 30px;
        flex-direction: column;
    }

    footer .left {
        margin-bottom: 60px;
    }
}

/* END FOOTER SECTION */

/* **********************************************************************************************************************
PLAN PAGE
*********************************************************************************************************************** */

/* START HERO */

/*#hero.hero-plans {
    height: 100vh;
}*/

#hero.hero-plans .hero-center p {
    font-size: 0.7em;
    font-weight: normal;
    margin-top: 20px;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.4s 0.3s ease-in;
}

#hero.hero-plans .hero-center p.show {
    opacity: 1;
}

/* END HERO */


/* START FEATURES */

/* #features.plans .feature-wrapper .features {
    width: 100%;
} */

.hover-table-layout {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
       -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
    margin:0 auto;
    width: 100%;
  }
  .listing-item {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 20px;
      margin-bottom:30px;
      /* float: left; */
      min-width: 280px;
      max-width: 280px;
      background: #fff;
      border-radius:10px;
      z-index:0;
      cursor:pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
          -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  
  }
  .listing-item:hover,  .listing-item.active{
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      transform: scale(1.03);
          -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      z-index:2;
  
  }
  .listing-item .listing{
      padding:20px;
      position:relative;
      margin-bottom: auto;
  }

  .listing-item a {
      margin-top: 20px;
  }
  .listing-item .listing:before{
      content:"";
      position:absolute;
      top:-15px;
      left:-o-calc(50% - 15px);
      left:-moz-calc(50% - 15px);
      left:-webkit-calc(50% - 15px);
      left:calc(50% - 15px);
      border-bottom:20px solid #fff;
      border-left:20px solid transparent;
      border-right:20px solid transparent;
  }
      figure.image img {
          width:100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  figure.image {
      position: relative;
      margin: 0;
      padding: 0;
  }
  figure.image figcaption {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      bottom: 4px;
      background: rgba(0,0,0,0.9);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  
  }
  figcaption .caption{
      position:relative;
      top:50%;
      -moz-transform:translateY(-50%);
      -webkit-transform:translateY(-50%);
      transform:translateY(-50%);
  
  }
  figcaption h1{
      color:white;
      font-weight:bold;
      font-size:17px;
      margin-bottom: 10px;
      text-transform: uppercase;
  }
  figcaption p{
    color:white;
    font-size:14px;
  }
  .listing h4 {
     
      font-size: 13px;
      text-align: center;
      padding: 5px 10px;
      font-weight: bold;
  }
  .listing h4:not(:last-child){
     border-bottom: 1px solid #ccc;
  }
  .listing-item:hover figure.image figcaption{
         background: rgba(195, 39, 43, 0.6);
  }
  @media only screen and (max-width:760px){
      .hover-table-layout {
          flex-direction: column;
          align-items: center;
      }
      .listing-item {
     display: block;
      }
  }
  @media only screen and (min-width:1024px){
      .hover-table-layout{
          padding: 0 200px;
      }
  }

/* END FEATURES */

/* **********************************************************************************************************************
WHY-US PAGE
*********************************************************************************************************************** */

.whyus .features, .mission .features {
    justify-content: space-around;
}

.whyus .features .feature, .mission .features .feature {
    min-width: 45%;
    max-width: 45%;
}

@media screen and (min-width: 768px) {
  .whyus.hero-center {
      margin-bottom: 90px;
  }
}

.mission .features .feature {
    min-width: 70%;
    max-width: 70%;
}

.mission .features .feature p {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
    .whyus .features .feature, .mission .features .feature p, .mission .features .feature {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
}

.site-section   {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .site-section-secondary   {
    background: #EFEFEF;
  }
  .site-section-inside   {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-header h2  {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
  }

  /* testimonial boxes */
.testimonial-box   {
    display: inline-block;
    width: 33%;
    padding: 20px 30px;
  }
  .testimonial-content   {
    background: #FFF;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .testimonial-author {
  
  }
  .testimonial-author img {
    float: left;
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
  }
  .testimonial-author h5   {
    font-size: 18px;
    margin: 0;
    padding-top:15px;
  }
  .testimonial-author span {
    font-size: 14px;
  }

  .cd-faq {
    width: 90%;
    max-width: 1024px;
    margin: 2em auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .cd-faq:after {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq {
      position: relative;
      margin: 4em auto;
      box-shadow: none;
    }
  }
  
  .cd-faq-categories a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 28px 0 16px;
    background-color: #4e5359;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    white-space: nowrap;
    border-bottom: 1px solid #555b61;
    text-overflow: ellipsis;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    /* plus icon on the right */
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #7f868e;
  }
  .cd-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .cd-faq-categories li:last-child a {
    border-bottom: none;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-categories {
      width: 20%;
      float: left;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
    .cd-faq-categories a {
      font-size: 13px;
      font-size: 0.8125rem;
      font-weight: 600;
      padding-left: 24px;
      padding: 0 24px;
      -webkit-transition: background 0.2s, padding 0.2s;
      -moz-transition: background 0.2s, padding 0.2s;
      transition: background 0.2s, padding 0.2s;
    }
    .cd-faq-categories a::before, .cd-faq-categories a::after {
      display: none;
    }
    .no-touch .cd-faq-categories a:hover {
      background: #555b61;
    }
    .no-js .cd-faq-categories {
      width: 100%;
      margin-bottom: 2em;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-faq-categories {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      z-index: 2;
    }
    .cd-faq-categories a::before {
      /* decorative rectangle on the left visible for the selected item */
      display: block;
      top: 0;
      right: auto;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #a9c056;
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    .cd-faq-categories .selected {
      background: #42464b !important;
    }
    .cd-faq-categories .selected::before {
      opacity: 1;
    }
    .cd-faq-categories.is-fixed {
      /* top and left value assigned in jQuery */
      position: fixed;
    }
    .no-js .cd-faq-categories {
      position: relative;
    }
  }
  
  .cd-faq-items {
    /* position: static; */
    /* height: 100%; */
    width: 100%;
    /* top: 0; */
    /* right: 0; */
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
  }

  @media screen and (max-width: 768px) {
    .cd-faq-items {
        -webkit-transform: translateZ(0) translateX(0%);
        -moz-transform: translateZ(0) translateX(0%);
        -ms-transform: translateZ(0) translateX(0%);
        -o-transform: translateZ(0) translateX(0%);
        transform: translateZ(0) translateX(0%);
    }
  }

  .cd-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
  }
  .no-js .cd-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-items {
      position: static;
      height: auto;
      width: 78%;
      float: right;
      overflow: visible;
      -webkit-transform: translateZ(0) translateX(0);
      -moz-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
      padding: 0;
      background: transparent;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-faq-items {
      float: none;
      width: 100%;  
    }
    .no-js .cd-faq-items {
      padding-left: 0;
    }
  }
  
  .cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
  }
  .cd-close-panel::before, .cd-close-panel::after {
    /* close icon in CSS */
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
  }
  .cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .cd-close-panel.move-left {
    right: 2%;
  }
  @media only screen and (min-width: 768px) {
    .cd-close-panel {
      display: none;
    }
  }
  
  .cd-faq-group {
    /* hide group not selected */
    display: none;
  }
  .cd-faq-group.selected {
    display: block;
  }
  .cd-faq-group .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;
  }
  .no-touch .cd-faq-group .cd-faq-title:hover {
    box-shadow: none;
  }
  .cd-faq-group .cd-faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #bbbbc7;
  }
  .no-js .cd-faq-group {
    display: block;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-group {
      /* all groups visible */
      display: block;
    }
    .cd-faq-group > li {
      background: #ffffff;
      margin-bottom: 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
      -webkit-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      transition: box-shadow 0.2s;
    }
    .no-touch .cd-faq-group > li:hover {
      box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }
    .cd-faq-group .cd-faq-title {
      margin: 2em 0 1em;
    }
    .cd-faq-group:first-child .cd-faq-title {
      margin-top: 0;
    }
  }
  
  .cd-faq-trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
    line-height: 1.2;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-trigger {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      padding: 24px 72px 24px 24px;
    }
    .cd-faq-trigger::before, .cd-faq-trigger::after {
      /* arrow icon on the right */
      position: absolute;
      right: 24px;
      top: 50%;
      height: 2px;
      width: 13px;
      background: #cfdca0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }
    .cd-faq-trigger::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      right: 32px;
    }
    .cd-faq-trigger::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  
  .cd-faq-content p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #6c7d8e;
  }

    .cd-faq-content {
      display: none;
      padding: 0 24px 30px;
    }

    @media screen and (max-width: 768px) {
        .cd-faq-content {
            padding: 0;
        }
    }

    .cd-faq-content p {
      line-height: 1.6;
    }
    .no-js .cd-faq-content {
      display: block;
    }

  #features.faq .features .feature {
      min-width: 100%;
      max-width: 100%;
      margin-right: 0;
  }

  #features.faq .features {
      width: 100%;
  }


#schedule-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
  transition: all 0.4s !important;
}

#schedule-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 70px;
  border-radius: 30px;
  position: relative;
}

#schedule-form > div > h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
}

#schedule-form > div > p {
  margin-bottom: 30px;
}

#schedule-form > div > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#schedule-form > div > form input, #schedule-form > div > form textarea {
  margin-bottom: 30px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: border-bottom 0.4s;
}

#schedule-form > div > form textarea {
  width: 100%;
}

#schedule-form > div > form input {
  min-width: 48%;
  max-width: 48%;
}

#schedule-form > div > form input:focus {
  border-bottom: 2px solid #e62029;
}

#schedule-form > div > form button {
  margin: 20px auto 0;
  padding: 13px 70px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#schedule-form > div > form button:hover {
  border: 2px solid #e62029;
}

#schedule-form > div i.fa-times {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #schedule-form > div > form input {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    border-radius: 8px;
  }

  #schedule-form > div > form textarea {
    border-radius: 8px;
  }

  #schedule-form {
    padding: 20px;
  }

  #schedule-form > div {
    padding: 30px;
  }

  #schedule-form > div > h1 {
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 15px;
  }

  #schedule-form > div > p {
    font-size: 0.9em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 18px;
  }

  #schedule-form > div > form button {
    width: 100%;
  }

  #schedule-form > div i.fa-times {
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  #schedule-form > div > form input, #schedule-form > div > form textarea {
    margin-bottom: 15px;
  }

}

#schedule-form.hide-form {
  /*display: none;*/
  opacity: 0;
  visibility: hidden;
}